version: "3.8"

services:
  qgis-server:
    image: camptocamp/qgis-server:latest
    volumes:
      - ./projects:/etc/qgis/projects
      - ./conf/pg_service.conf:/etc/postgresql-common/pg_service.conf
    environment:
      - PGSERVICEFILE=/etc/postgresql-common/pg_service.conf
      - QGIS_SERVER_LOG_LEVEL=3
      - QGIS_SERVER_PARALLEL_RENDERING=true
      - QGIS_SERVER_MAX_THREADS=4
      # - QGIS_SERVER_LANDING_PAGE_PREFIX=/qgisserver
      # - QGIS_PREFIX_PATH=/qgisserver
    networks:
      - qgis-network

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - qgis-server
    networks:
      - qgis-network

networks:
  qgis-network:
    driver: bridge
